.dashboard{
    padding:24px 20px 110px;
    max-width:480px;
    margin:auto;
    color:#fff;
}

.dashboard-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:28px;
}

.dashboard-header h1{
    margin:0;
    font-size:2.4rem;
    font-weight:800;
}

.dashboard-header p{
    margin-top:6px;
    color:#9ca3af;
    font-size:1rem;
}

.notification-btn{
    width:58px;
    height:58px;
    border:none;
    border-radius:18px;
    background:#1b2234;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

.portfolio-card{
    background:linear-gradient(135deg,#2563eb,#4f8cff);
    border-radius:28px;
    padding:24px;
    box-shadow:0 20px 40px rgba(0,0,0,.35);
    margin-bottom:28px;
}

.portfolio-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.label{
    font-size:1rem;
    opacity:.9;
}

.profit-chip{
    background:rgba(255,255,255,.18);
    padding:8px 14px;
    border-radius:999px;
    font-weight:600;
}

.portfolio-card h2{
    font-size:3rem;
    margin:24px 0;
    font-weight:800;
}

.portfolio-stats{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    text-align:center;
    margin-bottom:20px;
}

.stat h3{
    margin:0;
    font-size:1.6rem;
}

.stat p{
    margin-top:6px;
    opacity:.9;
    font-size:.9rem;
}

.graph-placeholder{
    height:90px;
}

.graph-placeholder svg{
    width:100%;
    height:100%;
}

.market-section{
    margin-bottom:28px;
}

.market-section h2,
.quick-section h2{
    margin-bottom:16px;
    font-size:1.8rem;
}

.market-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:14px;
}

.market-Card{
    background:#171f31;
    border-radius:18px;
    padding:16px;
}

.market-Card span{
    color:#9ca3af;
    display:block;
    margin-bottom:6px;
}

.market-Card strong{
    display:block;
    font-size:1.4rem;
}

.market-Card.positive small{
    color:#22c55e;
}

.market-Card.negative small{
    color:#ef4444;
}

.quick-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:16px;
    margin-bottom:28px;
}

.quick-card{
    background:#171f31;
    border:none;
    border-radius:22px;
    padding:24px;
    color:white;
    cursor:pointer;
    transition:.25s;
    text-align:left;
}

.quick-card:hover{
    transform:translateY(-4px);
}

.quick-card .material-symbols-outlined{
    font-size:34px;
    margin-bottom:10px;
}

.quick-card h3{
    margin:0;
    font-size:1.2rem;
}

.quick-card p{
    margin-top:6px;
    color:#9ca3af;
    font-size:.9rem;
}

.activity-card{
    background:#171f31;
    border-radius:24px;
    padding:36px 24px;
    text-align:center;
}

.empty-icon{
    font-size:60px;
    color:#4f8cff;
}

.activity-card h3{
    margin:16px 0 10px;
    font-size:1.5rem;
}

.activity-card p{
    color:#9ca3af;
    line-height:1.6;
}
